<!-- ** Loading de la App ** -->
<div class="mt-3" *ngIf="loading">
    <app-loading></app-loading>
</div>

<!-- ** Header Info del Artista ** -->
<div class="row my-5 animated fadeIn" *ngIf="!loading">
    <div class="col-2">
        <img [src]="artista.images | noimage" alt="" class="img-thumbnail img-circle">
    </div>
    <div class="col">
        <h3>{{ artista.name }}</h3>
        <p>
            <a [href]="artista.external_urls.spotify" target="_blank">
                Ir a la página del artista
            </a>
        </p>
    </div>
    <div class="col-4 text-right">

        <button routerLink="/search" class="btn btn-outline-danger">
            Regresar
        </button>

    </div>
</div>

<!-- ** Tabla de los Top-Tracks ** -->
<div class="row my-5">
    <div class="col">
        <table class="table table-dark bg-transparent">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Album</th>
                    <th>Canción</th>
                    <th>Vista Previa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let track of topTracks">
                    <td>
                        <img [src]="track.album.images[2].url" alt="imagen-album">
                    </td>
                    <td>{{ track.album.name }}</td>
                    <td>{{ track.name }}</td>
                    <td>
                        <!-- Reproductor de Audio HTML -->
                        <!-- <audio [src]="track.preview_url" controls></audio> -->

                        <!-- Reproductor de Audio con el widget de Spotify -->
                        <iframe [src]="track.uri | domseguro" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
